.App {
  display: flex;
  place-items: center;
  font-family: sans-serif;
}

.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

aside {
  width: 40%;
  display: grid;
  place-items: center;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
}
